@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
  background: hsla(48, 78%, 82%, 1);

  background: linear-gradient(
    90deg,
    hsla(48, 78%, 82%, 1) 0%,
    hsla(340, 87%, 59%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(48, 78%, 82%, 1) 0%,
    hsla(340, 87%, 59%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(48, 78%, 82%, 1) 0%,
    hsla(340, 87%, 59%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F5E6AD", endColorstr="#F13C77", GradientType=1 );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bg-gradient {
}
