@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
  background: hsla(48, 78%, 82%, 1);

  background: linear-gradient(
    90deg,
    hsla(48, 78%, 82%, 1) 0%,
    hsla(340, 87%, 59%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(48, 78%, 82%, 1) 0%,
    hsla(340, 87%, 59%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(48, 78%, 82%, 1) 0%,
    hsla(340, 87%, 59%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F5E6AD", endColorstr="#F13C77", GradientType=1 );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  /* height: 300px; */
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Add this media query for responsiveness on smaller screens */
@media (max-width: 768px) {
  .image-container {
    /* height: 200px; */
    width: 200px;
  }
}
